<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--WCF-DB服务的访问地址-->
    <add key="ServiceAddress" value="net.tcp://127.0.0.1:8980" />
    <!--默认可访问WCF的机器IP-->
    <add key="AccessIP" value="127.0.0.1" />
    <!--数字证书名称 makecert.exe -sr LocalMachine -ss My -a sha1 -n CN=JHDBService -sky exchange -pe-->
    <add key="CertificateName" value="JHService" />
    <!--WCF-安全验证的用户名初始值（WCF服务启动后还是可以通过SetUserNameAndPassword方法修改）-->
    <add key="ServiceAcntValidateUserName" value="JHDB" />
    <!--WCF-安全验证的密码初始值（WCF服务启动后可以通过GetUserNameAndPassword方法获取当前的）-->
    <add key="ServiceAcntValidatePassword" value="JHDB" />
    <!--服务日志存放地址。 地址的最后一个“\”不写-->
    <add key="ServiceHostLogPath" value="C:\Program Files\北京嘉和美康信息技术有限公司\My Product Name\Log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MaxConcurrentCalls" value="300"/>
    <add key="MaxConcurrentSessions" value="300"/>
    <add key="MaxConcurrentInstances" value="300"/>
    <add key="MasterServerAddress" value="127.0.0.1"/>
    <add key="AlternateServerAddress" value="194.1.2.117"/>
    <add key="HeartbeatState" value="Close"/>
    <!-- 配置链接数据库类型-->
    <add key="DataBaseType" value="Oracle"/>
  </appSettings>
  <connectionStrings>
      <add name="Oracle" connectionString="Data Source=JHEMRV6;User ID=JHEMR;Password=JHEMR;Unicode=True" providerName="System.Data.OracleClient" />
      <add name="Oracle1" connectionString="Data Source=JHEMR_125;User ID=JHEMRV61;Password=JHEMRV6.0;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>